.titulo-pagina-web{
    width: 100%;
    max-width: 100vw;
    padding: 15px;
    margin: auto;
    text-align: center;
    background-color: #d7f7f5;
    color: #2a6171;
    font-weight: bolder;
}

.logo-hypechat{
    width: 10%;
    height: 10%;
}